div{
    margin: 80px auto;
    max-width: 700px;
    width: 80%;
    font-family: 'source sans pro', 'sans-serif';
    border: 25px solid #bdc3c7;
    padding: 40px;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
.date{
    text-transform: uppercase;
    color: #3498db;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}
p{
    font-weight: 600;
}
.firstPara{
    border-left: 7px solid #bdc3c7;
    padding-left: 7px;
}
hr{
    color: lightgray;
    opacity: 40%;
    size: 11px;
}